*, ::before, ::after, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

main {
    background-color: #B3BDC0;
    margin: 200px auto;
    width: 720px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}

.columnsWrapper {
    display: flex;
    gap: 10px;
}

.column {
    background-color: #B3BDC0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.hole {
    height: 70px;
    width: 70px;
    background-color: white;
    display: flex;
    gap: 40px;
    border-radius: 50%;
}

.column:hover {
    background-color: #a2b0b4;
}

.playerOne{
    background-color: red;
}
.playerTwo {
    background-color: yellow;
}

.messageError {
    display: flex;
    gap: 15px;
    padding: 15px 12px;
    background-color: rgb(224, 187, 193);
    width: 350px;
    height: 70px;
    transform: translateY(30px);
    display: none;
}

.messageError.active-animation {
    animation: errorAppearance 2.5s;
    display: flex;
}

@keyframes errorAppearance {
     0%{
        transform: translateY(30px);
        display: flex;
    }
     100%{
        transform: translateY(-20px);
    }
}